# shellcheck disable=all
LANG="{{ locale_language }}.{{ locale_encoding }}"
LANGUAGE="{{ locale_language_all }}"
LC_ALL=
LC_CTYPE="{{ locale_language }}.{{ locale_encoding }}"
LC_NUMERIC="{{ locale_origin }}.{{ locale_encoding }}"
LC_TIME="{{ locale_time }}.{{ locale_encoding }}"
LC_COLLATE="{{ locale_language }}.{{ locale_encoding }}"
LC_MONETARY="{{ locale_origin }}.{{ locale_encoding }}"
LC_MESSAGES="{{ locale_language }}.{{ locale_encoding }}"
LC_PAPER="{{ locale_origin }}.{{ locale_encoding }}"
LC_NAME="{{ locale_origin }}.{{ locale_encoding }}"
LC_ADDRESS="{{ locale_origin }}.{{ locale_encoding }}"
LC_TELEPHONE="{{ locale_origin }}.{{ locale_encoding }}"
LC_MEASUREMENT="{{ locale_origin }}.{{ locale_encoding }}"
LC_IDENTIFICATION="{{ locale_origin }}.{{ locale_encoding }}"
# vi: ft=sh
